---
layout: base
---

{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] %}

<article class="page" role="article">

  <h1 class="page-title hr" style="padding-bottom:1rem">{{ page.title }}</h1>

  <div class="author-body">

  {% if author.picture %}
    {% include srcset-img.html class="me" img=author.picture alt=author.name %}
  {% endif %}
    <div class="author-body-description">
      다른사람들에게 작은 도움을 주고 싶어 개발자가 되었습니다.<br>
      비전공이지만 독학으로 많은것을 배우고 실현하고 있습니다.
      {% comment %} {{ author.about | markdownify }} {% endcomment %}
    </div>
  </div>
  <div class="markdown-body">
    {{ content }}
  </div>
</article>

